:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  article {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease, pulse 1s infinite;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    animation: slideInLeft 0.5s ease;
    color: #333333; 
  }
  
  h4 {
    font-size: 16px;
    margin: 0;
    animation: slideInRight 0.5s ease;
    color: #666666; 
  }

  h5 {
    font-size: 16px;
    margin: 0;
    animation: slideInRight 0.5s ease;
    color: #666666;   }
  
  h6 {
    font-size: 16px;
    margin: 0;
    animation: slideInRight 0.5s ease;
    color: #666666;   }
  
  p {
    font-size: 14px;
    margin: 0;
    color: #999999; 
  }
  
  button {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    animation: fadeIn 0.5s ease;
  }
  
  button:active {
    transform: translateY(1px);
  }
  
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }